
<!-- Header End -->
<!-- ==========================================================
2.*Hero_area start
============================================================ -->
<%=render "shared/service/startarea"%>
<!-- ==========================================================
3.*romana_why_choose_area start
============================================================ -->
<%=render "shared/service/whychooesus"%>
<!-- ==========================================================
4.*romana_awesome_service_area start
============================================================ -->
<%=render "shared/service/servicearea"%>>
