<div class="romana_search_domain_area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-12">
                <div class="romana_domain_text">
                    <h2>Here Is What You Gonna Do</h2>
                    <div class="romana_checkbox"></div>
                </div>
            </div>
            <!-- column End -->
            <div class="col-md-8 col-sm-7 col-xs-12">
                <div class="romana_domain_search">
                    <form action="#">
                        <div class="romana_search_input">
                            <input type="text" name="searchInput" id="searchInput" placeholder="Enter domain name here" style="display:none;">
                        </div>
                        <div class="romana_search_submit">
                            <input type="submit" value="search domain" style="display:none;">
                        </div>
                    </form>
                    <div class="romana_checkbox romana_checkbox2">

                    </div>
                </div>
            </div>
            <!-- column End -->
        </div>
        <!-- row End -->
    </div>
    <!-- container End -->
</div>
