<footer class="romana_footer_area">
    <div class="romana_footer_top">
        <div class="container">
            <div class="row">
              <%@footer.each do |footer|%>
                <div class="col-md-4 col-sm-3">
                    <div class="footer_left_text footer_menu footer_border_right">
                        <div class="footer_logo">
                            <a href="/"><img src="<%=footer.image%>" alt="logo"></a>
                        </div>
                        <p><%=footer.description%></p>
                    </div>
                </div>
                <%end%>
                <!-- column End -->
                <div class="col-sm-3">
                    <div class="footer_menu footer_border_right footer_padding_left">
                        <h2>Hosting services</h2>
                        <ul>
                            <li><a href="/hostings">Web Hosting</a></li>
                            <li><a href="/hostings">Cloud Hosting</a></li>
                            <li><a href="/hostings">Shared Hosting</a></li>
                            <li><a href="/hostings">Reseller Hosting</a></li>
                        </ul>
                    </div>
                </div>
                <!-- column End -->
                <!-- column End -->
                <div class="col-md-2 col-sm-3">
                    <div class="footer_menu footer_padding_left">
                        <h2>support</h2>
                        <ul>
                            <li><a href="/services">Product Support</a></li>
                            <li><a href="/services">Contact Us</a></li>
                            <li><a href="/services">Knowladge Base</a></li>
                            <li><a href="/services">Request a Quote</a></li>
                        </ul>
                    </div>
                </div>
                <!-- column End -->
            </div>
        </div>
    </div>
    <!-- footer_top End -->
    <div class="romana_footer_bottom">
        <div class="container">
            <div class="romana_footer_bottom_content text-center">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                      <%@footer.each do |foot|%>
                        <p><span></span><%=foot.copyright%></p>
                      <%end%>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
            <!-- container End -->
        </div>
    </div>
    <!-- footer_bottom End -->
</footer>
