<header>
    <div class="romana_header_top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="romana_header_top_left">
                        <a href="#" class="hidden-xs"><i class="fa fa-phone"></i>+22 666-888-999</a>
                    </div>
                </div>
                <!-- column End -->
                <!-- column End -->
                <div class="col-md-2 col-xs-6 col-md-offset-7">
                    <div class="romana_header_top_right hidden-xs">
                        <ul>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                    <div class="romana_client_btn  romana_client_btn_small hidden-sm hidden-md hidden-lg">
                        <a href="#"><i class="fa fa-user"></i>Client Area</a>
                        <div class="romana_client_log_in">
                            <form action="#" class="romana_client_log_in_after">
                                <input type="text" name="clientEmail" placeholder="Email here">
                                <input type="text" name="clientPass" placeholder="password">
                                <input type="submit" value="Login" >
                                <p> or <a href="registration.html">registration</a></p>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
    <!-- Header-Top End -->
    <div class="romana_header_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-6">
                    <div class="romana_logo">
                        <a href="index-2.html"><img src="ninenetwork.png" alt=""></a>
                    </div>
                </div>
                <!-- column End -->
                <div class="col-sm-8">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only"></span>
                            <i class="icofont icofont-navigation-menu"></i>
                        </button>
                    </div>
                    <nav id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/aboutus">about</a></li>
                            <li><a href="/hostings">hosting</a></li>
                            <li><a href="/services">Services</a>
                                <!-- <ul class="dropdown-menu mega-menu">
                                    <li class="menu-collumn">
                                        <ul>
                                            <li class=""><a href="/hostings">service page</a></li>
                                            <li class=""><a href="/hostings">hosting page</a></li>
                                        </ul>
                                    </li> -->
                                    <!-- <li class="menu-collumn">
                                        <ul>
                                            <li><a href="blog.html">blog page</a></li>
                                            <li><a href="single-blog.html">single blog page</a></li>
                                            <li><a href="testimonial.html">testimonial page</a></li>
                                            <li><a href="cart.html">cart page</a></li>
                                            <li><a href="check-out.html">check out page</a></li>
                                        </ul>
                                    </li> -->
                                    <!-- <li class="menu-collumn">
                                        <ul>
                                            <li><a href="faq.html">faq page</a></li>
                                            <li><a href="404.html">404 page</a></li>
                                            <li><a href="registration.html">registration page</a></li>
                                            <li><a href="contact.html">contact</a></li>
                                        </ul>
                                    </li> -->
                                <!-- </ul> -->
                            </li>
                            <li><a href="/blogs">blog</a>
                                <!-- <ul class="dropdown-menu">
                                    <li><a href="blog.html">blog PAGE</a></li>
                                    <li><a href="single-blog.html">single blog</a></li>
                                </ul> -->
                            </li>
                            <li><a href="/contactmes/new">Contact</a></li>
                        </ul>
                        <!-- mega-menu End -->
                    </nav>
                    <!-- nav End -->
                </div>
                <!-- column End -->
                <div class="col-sm-2">
                    <div class="romana_client_btn hidden-xs">
                        <a href="/contacts" class="hvr-bounce-to-right"><i class="icofont icofont-user-alt-3"></i>Client Area</a>
                    </div>
                    <div class="romana_client_log_in">
                        <form action="#" class="romana_client_log_in_after">
                            <input type="text" name="clientEmail" placeholder="Email here">
                            <input type="text" name="clientPass" placeholder="password">
                            <input type="submit" value="Login">
                            <p> or <a href="registration.html">registration</a></p>
                        </form>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
    <!-- Header Bottom End -->
</header>
