<div class="romana_hosting_plan_area romana_section_padding">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12">
                <div class="romana_section_title text-center">
                    <h2>Choose Hosting Plans</h2>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
                </div>
            </div>
            <!-- column End -->
        </div>
        <!-- row End -->
        <div class="row ">
          <%@hostingsection.each do |section|%>
            <div class="col-sm-4 col-xs-12">
                <div class="romana_single_plan text-center">
                    <div class="romana_plan_icon hvr-grow">
                        <a href="#"><img src="<%=section.image%>" alt="icon"></a>
                    </div>
                    <h3><%=section.title%></h3>
                    <p><%=section.description%></p>
                    <div class="romana_plan_btn">
                        <a href="#" class="hvr-bounce-to-right">read more</a>
                    </div>
                </div>
            </div>
            <%end%>
            <!-- column End -->

            <!-- column End -->
        </div>
        <!-- row End -->
    </div>
    <!-- container End -->
</div>
