<section class="romana_pricing_area romana_section_padding" style="background:#fff;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="romana_section_title text-center">
                    <h2>Choose Pricing Plans</h2>
                    <p>Duis islut aliquip ex ea commodo consequat. Duis autem</p>
                </div>
            </div>
            <!-- column end -->
        </div>
        <!-- row end -->
        <div class="row">
            <div class="col-xs-12">
              <%@pricing.each do |price|%>
                <div class="romana_single_table active">
                    <h2><%=price.title%></h2>
                    <a href="#"><img src="<%=price.image%>" alt=""></a>
                    <ul>
                        <li><%=price.space%> GB web Space</li>
                        <li><%=price.register%></li>
                        <li><%=price.support%></li>
                    </ul>
                    <h3>$<%=price.price%><span>/Mo</span></h3>
                    <div class="romana_price_btn">
                        <a href="#" class="hvr-bounce-to-right">started now</a>
                    </div>
                </div>
                <%end%>
                <!-- single_table end -->

                <!-- single_table end -->
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
