<section class="romana_hero_area" >
    <div class="hero_slider">
        <%@slides.each do |slide|%>
        <!-- item one end -->
        <div class="hero_slider_bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-1 col-xs-12">
                        <div class="romana_hero_left_img hidden-xs">
                            <img src="<%=slide.image%>" alt="">
                        </div>
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <div class="romana_hero_text">

                            <h1><%=slide.saysomething%></h1>
                            <h2><%=slide.title%></h2>
                            <p class="slider_text_animation"><%=slide.description%></p>
                            <div class="romana_slider_btn">
                                <a href="/services" class="romana_slider_btn1 hvr-shutter-out-horizontal">STARTED NOW<i class="icofont icofont-long-arrow-right"></i></a>
                                <a href="#" class="romana_slider_btn2 hvr-shutter-out-horizontal">read more<i class="icofont icofont-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- column end -->
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </div>
        <%end%>
        <!-- item three end -->
    </div>
</section>
