<div class="romana_why_choose_area romana_section_padding" style="background:#eef6fd;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="romana_section_title text-center">
                    <h2>Why Choose us?</h2>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
                </div>
            </div>
        </div>
        <div class="row ">
          <%@whychooseus.each do |why|%>
            <div class="col-sm-4 col-lg-4">
                <div class="romana_single_choose text-center">
                    <a href="#" class="hvr-wobble-skew"><img src="<%=why.image%>" alt="icon"></a>
                    <h3><%=why.title%></h3>
                    <p><%=truncate(why.description,length: 120, separator:' ')%></p>
                </div>
            </div>
            <%end%>
            <!-- column End -->
            <!-- column End -->
        </div>
        <!-- row End -->
    </div>
    <!-- container End -->
</div>
