
    <!-- Header End -->
<!-- ==========================================================
2.*Hero_area start
============================================================ -->
<%=render "shared/blog/singleareastart"%>
<!-- ==========================================================
3.*romana_awesome_service_area start
============================================================ -->
<%=render "shared/blog/singlecategory"%>
<!-- ==================================================
4.*Footer_area start
=================================================== -->
