<div class="romana_blog_page_area romana_blog_page_area romana_section_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <aside>
                    <div class="widget widget_search romana_blog_search">
                        <form action="#">
                            <div class="field">
                                <label class="placeholder" for="email">
                                    Search here
                                </label>
                                <input id="blogSearch" type="text" name="blogSearch" />
                                <div class="romana_search_icon">
                                    <a href="#"><i class="icofont icofont-search"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="widget widget_category">
                        <h3>CATEGEORY</h3>
                        <ul>
                          <%@categoryblogs.each do |cate|%>
                            <li><a href="/categoryblogs/<%=cate.id%>"><%=cate.categoryname%></a></li>
                          <%end%>
                        </ul>
                    </div>
                    <div class="widget romana_related_post">
                        <h3>RELATED POST</h3>
                        <div class="romana_post_img_text">
                            <div class="romana_post_img">
                                <img src="images/post_img1.jpg" alt="">
                            </div>
                            <div class="romana_post_text">
                                <a href="single-blog.html"><h3>Duis autem vel eum iriure doloum aesent luptatum duime augue.</h3><span>22 December, 2016</span></a>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>
            <!-- column End -->
            <div class="col-sm-8">
                <div class="romana_all_blog_content">
                    <div class="romana_blog_content">
                        <div class="romana_blog_img">
                            <a href="#"><img src="<%=@blog.image%>" alt=""></a>
                        </div>
                        <div class="romana_blog_date">
                            <p><%=@blog.post_date%> <span></span></p>
                        </div>
                        <div class="romana_blog_text text-center">
                            <h2><%=@blog.title%></h2>
                            <p><%=@blog.description%></p>
                        </div>
                    </div>

                    <!-- romana_comment_reply End -->
                    <div class="romana_leave_comment romana_comment_replay ">
                        <h3>Leave a comment</h3>
                        <div class="romana_registration_form_area">

                        </div>
                    </div>
                </div>
            </div>
            <!-- column End -->
        </div>
        <!-- row End -->
    </div>
    <!-- container End -->
</div>
