<div class="romana_blog_page_area romana_blog_page_area romana_section_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <aside>
                    <!-- <div class="widget widget_search romana_blog_search">
                        <form action="#">
                            <div class="field">
                                <input id="blogSearch" type="text" name="blogSearch" placeholder="Search Here"/>
                                <div class="romana_search_icon">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </form>
                    </div> -->
                    <div class="widget widget_category" style="margin-top:0px;">
                      <h3>CATEGEORY</h3>
                      <ul>
                        <%@blogs.limit(1).each do |b|%>
                        <li><a href="/categoryblogs/<%=b.id%>"><%=b.categoryblog.categoryname%></a></li>
                        <%end%>

                      </ul>
                    </div>
                    <div class="widget widget_category">
                        <h3>ALL CATEGEORY</h3>
                        <ul>

                          <%@categoryblogs.each do |cate|%>
                            <li><a href="/categoryblogs/<%=cate.id%>"><%=cate.categoryname%></a></li>
                          <%end%>
                        </ul>
                    </div>
                    <div class="widget romana_related_post">
                        <h3>RELATED POST</h3>
                        <div class="romana_post_img_text">
                            <div class="romana_post_img">
                                <img src="images/post_img1.jpg" alt="">
                            </div>
                            <div class="romana_post_text">
                                <a href="single-blog.html"><h3>Duis autem vel eum iriure doloum aesent luptatum duime augue.</h3><span>22 December, 2016</span></a>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>
            <!-- column End -->
            <div class="col-sm-8">
                <div class="romana_all_blog_content">
                  <%@blogs.each do |b|%>
                    <div class="romana_blog_content">
                        <div class="romana_blog_img">
                            <img src="<%=b.image%>" alt="">
                        </div>
                        <div class="romana_blog_date">
                            <p><%=b.post_date%> <span></span></p>
                        </div>
                        <div class="romana_blog_text text-center">
                            <h2><%=link_to(b.title,b)%></h2>
                            <p><%=b.description%></p>
                        </div>
                    </div>
                    <%end%>
                    <!-- romana_comment_reply End -->
                    <div class="romana_leave_comment romana_comment_replay ">
                        <h3>Leave a comment</h3>
                        <div class="romana_registration_form_area">

                        </div>
                    </div>
                </div>
            </div>
            <!-- column End -->
        </div>
        <!-- row End -->
    </div>
    <!-- container End -->
</div>
