<div class="romana_allPage_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="romana_allPage_text text-center">
                    <h1>THANk YOU FOR CONTACT US</h1>
                    <ol class="breadcrumb hvr-shutter-out-horizontal">
                        <li><a href="/">BACK TO HOME</a><span></span></li>
                    </ol>
                </div>
            </div>
            <!-- column End -->
        </div>
        <!-- row End -->
    </div>
    <!-- container End -->
</div>
