<p>From: <%=@contactme.firstname%><%=@contactme.lastname%></p>

<blockquote>
  <em><%=@contactme.message%></em>
</blockquote>

<p><%=@contactme.phone%></p>
<p>Please Reply To This Email Address: <%=@contactme.email%></p>
