<div class="romana_welcome_webhost_area romana_section_padding">
    <div class="container">
        <div class="row ">
          <%@aboutus.each do |about|%>
            <div class="col-sm-6">
                <div class="romana_welcome_img">
                    <a href="#"><img src="<%=about.image%>" alt=""></a>
                </div>
            </div>
            <!-- column End -->
            <div class="col-sm-6">
                <div class="romana_welcome_text">
                    <h2><%=about.title%></h2>
                    <p class="romana_margin_bottom30"><%=about.description  %></p>
                </div>
              <%end%>
            </div>
            <!-- column End -->
        </div>
        <!-- row End -->
    </div>
    <!-- container End -->
</div>
