<!-- ================================================================
      ***CSS File***
  ================================================================= -->
  <!-- ================= *** Google Font-Poppins *** ======================= -->

  <!-- preloader end -->
<!-- ==========================================================
  1.*Header_area start
============================================================ -->

  <!-- Header End -->
<!-- ==========================================================
2.*Hero_area start
============================================================ -->
<%=render "shared/home/slider"%>
  <!-- HeroSlider area end -->
<!-- ==========================================================
3.*romana_search_domain_area start
============================================================ -->
<%=render "shared/home/addtionalsection"%>
<!-- ==========================================================
4.*romana_why_choose_area start
============================================================ -->
<%=render "shared/home/whatwecando"%>
<!-- ==========================================================
5.*romana_hosting_plan_area start
============================================================ -->

<%=render "shared/home/pricingplan"%>
<!-- ==========================================================
6.*romana_web_hosting_area start
============================================================ -->
  <div class="romana_web_hosting_area romana_section_padding" style="background:#eef6fd;">
      <div class="container">
          <div class="row ">
            <%@addtionalsection.each do |section|%>
              <div class="col-sm-6 col-xs-12">
                  <div class="romana_web_hosting_text">
                      <h2><%=section.title%></h2>
                      <p><%=section.description%></p>
                      <div class="romana_web_hosting_btn">
                          <a href="#" class="hvr-bounce-to-right">started now</a>
                      </div>
                  </div>
              </div>
              <!-- column End -->
              <div class="col-sm-6 col-xs-12">
                  <div class="romana_web_hosting_img">
                      <img src="<%=section.image%>" alt="">
                  </div>
              </div>
              <%end%>
              <!-- column End -->
          </div>
          <!-- row End -->
      </div>
      <!-- container End -->
  </div>
<%=render "shared/home/ourteam"%>
<!--=============================================
  7.*Pricing_area  start
===============================================-->
<div class="romana_awesome_service_area romana_section_padding">
    <div class="container">
        <div class="romana_awesome_service_content">
            <div class="row ">
                <div class="col-sm-8 col-xs-12">
                    <div class="romana_awesome_service_text text-center">
                        <h2>We give always awesome service.</h2>
                    </div>
                </div>
                <!-- column End -->
                <div class="col-sm-2 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                    <div class="romana_awesome_service_btn ">
                        <a href="#">started now</a>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
    </div>
    <!-- container End -->
</div>

<%=render "shared/home/hostingsection"%>
<!-- ==========================================================
8.*Client_area start
============================================================ -->

<!-- ==========================================================
9.*romana_awesome_service_area start
============================================================ -->
<!-- ==================================================
10.*Footer_area start
=================================================== -->

  <!-- ======================================================
  ***Js Files***
=========================================================== -->
