
    <!-- Header End -->
<!-- ==========================================================
2.*Hero_area start
============================================================ -->
<%=render "shared/singleblog/startarea"%>
<!-- ==========================================================
3.*romana_awesome_service_area start
============================================================ -->
<%=render "shared/singleblog/category"%>
<!-- ==================================================
4.*Footer_area start
=================================================== -->
