<div class="romana_hosting_plan_area romana_hosting_plan_area3">
    <div class="container">
        <!-- row End -->
        <div class="row ">
            <!-- column End -->
            <%@hostplan.each do |plan|%>
            <div class="col-sm-4 col-xs-12">
                <div class="romana_single_plan romana_single_plan_before">
                    <div class="romana_plan_icon hvr-grow">
                        <a href="#"><img src="<%=plan.image%>" alt="icon"></a>
                    </div>
                    <h3><%=plan.title%></h3>
                    <p><%=plan.description%></p>
                </div>
            </div>
            <%end%>
            <!-- column End -->

            <!-- column End -->
        </div>
        <!-- row End -->
    </div>
    <!-- container End -->
</div>
