<div class="romana_client_area romana_section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="romana_section_title text-center">
                    <h2>Our Happy Customer</h2>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
                </div>
            </div>
            <!-- column End -->
        </div>
        <!-- row End -->
        <div class="row ">
            <div class="col-xs-12">
                <div class="romana_client_crsl">
                  <%@ourteam.each do |team|%>
                    <div class="romana_single_client_text_img text-center">
                        <div class="romana_client_img">
                            <img src="<%=team.image%>" alt="">
                        </div>
                        <div class="romana_single_client_text">
                            <p><%=team.description%></p>
                            <div class="romana_client_title">
                                <h3><%=team.name%></h3>
                                <p><%=team.position%></p>
                            </div>
                        </div>
                    </div>
                    <%end%>
                    <!-- romana_single_client_text End -->
                </div>
            </div>
            <!-- column End -->
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
</div>
