<%=render "shared/about/areastart"%>
<!-- ==========================================================
3.*romana_awesome_service_area start
============================================================ -->
<%=render "shared/about/aboutdetial"%>
<!-- ==========================================================
4.*romana_hosting_plan_area start
============================================================ -->
<%=render "shared/about/hostingplan"%>
<!-- ==========================================================
5.*Client_area start
============================================================ -->
<%=render "shared/about/ourteam"%>
<!-- ==================================================
6.*Footer_area start
=================================================== -->
