
    <!-- Header End -->
<!-- ==========================================================
2.*Hero_area start
============================================================ -->
<%=render "shared/hosting/startarea"%>
<!-- ==========================================================
3.*romana_hosting_plan_area start
============================================================ -->
<%=render "shared/hosting/hostplanarea"%>
<!--=============================================
    7.*Pricing_area  start
===============================================-->
<%=render "shared/hosting/pricing"%>
<!-- ==========================================================
5.*Client_area start
============================================================ -->
<%=render "shared/hosting/ourteam"%>
<!-- ==========================================================
6.*romana_awesome_service_area start
============================================================ -->
<%=render "shared/hosting/servicearea"%>
<!-- ==================================================
7.*Footer_area start

=================================================== -->
