<div class="romana_awesome_service_area romana_section_padding">
    <div class="container">
        <div class="romana_awesome_service_content">
            <div class="row ">
                <div class="col-sm-8">
                    <div class="romana_awesome_service_text text-center">
                        <h2>We give always awesome service.</h2>
                    </div>
                </div>
                <!-- column End -->
                <div class="col-sm-2 col-sm-offset-1 col-xs-12">
                    <div class="romana_awesome_service_btn">
                        <a href="#">started now</a>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
    </div>
    <!-- container End -->
</div
