<div class="romana_gmap_area romana_registration_form_area">
    <div class="romana_google_map">
        <div id="googleMap"></div>
    </div>
    <div class="container">
        <div class="row ">
            <!-- column End -->
            <div class="col-sm-12">
                <div class="romana_registration_btn text-center">
                    <p class="hvr-bounce-to-right">get in touch</p>
                </div>
                <div class="romana_registration_form">


                  <%=form_for @contactme do |f|%>

                        <div class="row">
                            <div class="col-sm-6">

                                <div class="field">
                                    <%=f.text_field :firstname, placeholder:"Firstname" ,:id=>"FirstName"%>
                                </div>
                                <div class="field">
                                    <%=f.text_field :email, placeholder:"Email" ,:id=>"userEmail"%>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="field">
                                    <%=f.text_field :lastname, placeholder:"Lastname" ,:id=>"LastName"%>
                                </div>
                                <div class="field">
                                    <%=f.text_field :phone, placeholder:"Phone",:id=>"userPhone"%>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="field text-field">
                                    <%=f.text_area :message, placeholder:"Message",:id=>"message", col: 30, row: 10%>
                                </div>
                            </div>
                        </div>
                        <div class="romana_submit_btn">
                          <%=f.submit "Submit Now"%>
                        </div>
                    <%end%>
                </div>
                <!-- romana_registration form End -->
                <div class="romana_contact_info">
                  <%@contact.each do |contact|%>
                    <p><b>Phone:</b> <span><%=contact.phone%></span></p>
                    <p><b>Website:</b> <span><%=contact.website%></span></p>
                    <p><b>Email:</b> <span><%=contact.email%></span></p>
                    <address>
                      <b>Address:</b>
                      <span><%=contact.address%></span>
                    </address>
                  <%end%>
                </div>
            </div>
            <!-- column End -->
        </div>
        <!-- row End -->
    </div>
    <!-- container End -->
</div>
