<div class="romana_allPage_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="romana_allPage_text text-center">
                    <h1>contact us</h1>
                    <ol class="breadcrumb hvr-shutter-out-horizontal">
                        <li><a href="index-2.html">Home</a><span></span></li>
                        <li><a href="#">contact</a></li>
                    </ol>
                </div>
            </div>
            <!-- column End -->
        </div>
        <!-- row End -->
    </div>
    <!-- container End -->
</div>

<div class="row" style="text-align:center;">
  <div class="col-xs-4">
    <%if @contactme.errors.any?%>
        <%@contactme.errors.full_messages.each do |message|%>
            <div class="alert alert-warning" role="alert"><i class="fa fa-warning"></i> <%=message%></div>
        <%end%>
    <%end%>
  </div>
</div>
